<Configuration>
  <Global LogLevel="warn" FrameTrace="false">
    
    <!-- DataConfig configures limits on Test Data -->
    <!-- 
         GenerateChunkSize sets the max structured data capacity 
         for Message Tests. Eg, Map size, List size, array size, etc.
         Supported values are [65535-2147483647]. Any value outside
         will result in undefined behaviour for the test suite.
         The Default value is 524288 (512KiB).
    -->
    <!--
    <DataConfig GenerateChunkSize="65535" />
    -->
  </Global>
  <Broker Scheme="amqp://" IPAddress="192.168.2.69" Port="5672">
    <!-- Example Client Configuration -->
    <!-- 
    <Client Username="guest" Password="password" />
    -->
  </Broker>
  
  <!-- Example Secure Broker configuration -->
  <!--
  <Broker Scheme="amqps://" IPAddress="192.168.2.69" Port="5671" Name="localhost">
    <Client Username="guest" Password="password" 
        ClientCertFileName="client.crt" />
  </Broker>
  -->
  
</Configuration>